/*Start point for nav and jumbotron*/

strong {
    font-size: 32px;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    border-radius: 0px !important;
}

.navbar {
    background-color: white;
}

.shop {
    height: 10px;
    background-color: black;
    display: block;
}


@media (max-width:767px) {
    .navbar-header {
        display: flex;
    }
}

@media (max-width:767px) {
    .navbar-toggle {
        order: 0;
        margin-left: 15px;
        margin-right: 0;
    }
}

.navbar-fixed-top {
    min-height: 100px;
}

@media (max-width:767px) {
    .navbar-fixed-top {
        min-height: 30px;
    }
}

.navbar-brand {
    line-height: 60px;
    font-size: 36px;
}

@media (max-width:767px) {
    .navbar-brand {
        line-height: 20px;
        margin-left: 90px;
    }
}

.searchInput {
    float: right;
    padding-top: 25px;
    padding-left: 150px;
}

@media (max-width:767px) {
    .searchInput {
        padding-top: 25px;
        padding-left: 0px;
    }
}

.form-control {
    width: 300px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 100px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


.jumBut {
    color: black;
    background-color: white;
    width: 180px;
    margin: 10px;
}

@media (max-width: 767px) {
    .jumBut {
        margin: none;
    }

}


@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.lead {
    display: inline-block;
}

@media (max-width: 767px) {
    .lead {
        margin-top: 300px;
    }
}

.jumbotron-fluid {
    width: 100%;
    height: 550px;
    background: url('../images/homepage2.jpg');
    background-size: cover;
    background-position: center center;
    padding: 40px;

}

@media (max-width: 767px) {
    .jumbotron-fluid {

        padding: 0px;

    }
}

.jumbotron-description {
    float: right;
    margin-top: 100px;
    margin-bottom: 40px;
    align-items: right;
}

.jumbotron-description > p {
    color: white;
    font-size: 18px;
}

.title {
    min-width: 180px;
    font-size: 50px;
    color: white;
}

@media (max-width: 767px) {
    .title {

        font-size: 38px;
        text-align: center;
        padding-left: 40px;

    }
}

@media (max-width: 767px) {
    .jumbotron-description p {

        font-size: 16px;
        text-align: center;

    }
}

@media (max-width: 767px) {
    .jumbotron-description {
        margin-right: 13px;
        margin-top: 50px;

    }
}

/*End point for nav and jumbotron*/

/*Starting point for main product*/

.Main {
    margin-top: 50px;
}


.explanation {
    padding-left: 70px;
    padding-top: 200px;
}

@media (max-width: 767px) {
    .explanation {
        padding-left: 15px;
        padding-top: 0px;
    }
}

.explanation > h2 {
    font-size: 26px
}

@media (max-width: 767px) {
    .explanation > h2 {
        font-size: 24px
    }
}

.explanation > p {
    font-size: 17px;
}

@media (max-width: 767px) {
    .explanation > p {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .explanation > h2 {
        text-align: center;
    }
}

.carousel-control.left,
.carousel-control.right {
    background-image: none !important;
    filter: none !important;
}

.carousel-control {
    background-color: black;
    width: 40px;
    height: 60px;
    margin-top: 210px;
    padding-top: 20px;
}

main-product1 > h4 > p {
    text-align: center;
}

/*End point for main product*/

/*Starting point for reviews*/

.box {
    text-align: center;
    padding: 10px;
}

.inner-box {
    box-shadow: -2px 0px 12px 6px rgba(0, 0, 0, 0.15);
    padding: 30px;
    margin: 10px;
    height: 350px;
}

.watch-bought {
    width: auto;
    height: 120px;
}

.rating {
    width: auto;
    height: 25px;
}

.rating-general {
    width: auto;
    height: 15px;
}

.v2 {
    background-color: black;
    width: 30px;
    height: 60px;
    margin-top: 180px;
    padding-top: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.Main2 {
    margin-top: 100px;
}

/*End point for reviews*/

/*Starting point for logo area*/

.logorow {
    text-align: center;
}

.jumBut2 {
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: black;
    width: 200px;
    height: 60px;
    margin: 10px;
}

.com {
    padding: 40px;
}

@media (max-width: 767px) {
    .com {
        padding: 10px;
    }
}



/*End point for logo area*/

.resize {
    padding-left: 120px;
}

@media (max-width: 767px) {
    .resize {
        padding: 10px;
    }
}

.resize2 {
    padding-right: 120px;
}

@media (max-width: 767px) {
    .resize2 {
        padding: 10px;
    }
}

.inforow {
    margin-top: 28px;
}

.info {
    text-align: center;
    background-color: darkgrey;
    padding-left: 60px;
    padding-right: 60px;
    height: 485px;
    padding-top: 150px;
}

.info2 {
    text-align: center;
    background-color: darkgrey;
    padding-left: 60px;
    padding-right: 60px;
    height: 360px;
    padding-top: 70px;
}

.reform {
    width: auto;
    height: 530px;
}

@media (max-width: 767px) {
    .reform {
        width: 500px;
        height: auto;
    }
}


.othercol {
    padding: 5px;
    margin: 0px;
}

.extracol {
    padding: 2px;
    margin: 0px;
}

.extracolin {
    padding: 10px;
    background-color: darkgrey;
    text-align: center;
    color: black;
    height: 80px;
}

.extra {
    width: auto;
    height: 30px;
}

.video1 {
    padding-left: 50px;
}

.video2 {
    padding-left: 32px;
    padding-right: 32px;
}

@media (max-width: 767px) {
    .video1 {
        padding: 10px;

    }
}

.video3 {
    padding-right: 50px;
}

.footer {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: darkslategrey;
    color: white;
}

@media (max-width: 767px) {
    .footer {
        text-align: center;
        padding: 10px;
    }
}

.jumBut3 {
    text-align: center;
    font-size: 16px;
    color: black;
    background-color: white;
    border width: 200px;
    height: 60px;
    margin: 10px;
    border: 3px solid black;
}

.explore {
    font-size: 28px;
}

.input-group-btn {
    padding-top: 25px;
}